bqplot
ipycanvas>=0.9.1
ipyleaflet
ipympl>=0.8.2
ipywidgets>=7.7,<8
jupyterlab~=3.4.3
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-zh-CN
jupyterlab-fasta>=3,<4
jupyterlab-geojson>=3,<4
jupyterlab-tour
jupyterlite==0.1.0b9
jupyterlite-xeus-sqlite==0.1.2
plotly>=5,<6
theme-darcula
